{{ define "main" }}
{{ partial "breadcrumbs.html" . }}
<article>
    <h1>{{ .Title }}</h1>
    {{partial "post_meta.html" .}}
    <section id="content">
        {{ .Content }}
    </section>
    {{ with .Params.topics }}
    <ul id="topics">
        {{ range . }}
        <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
    </ul>
    {{ end }}
    {{ with .Params.tags }}
    <ul id="tags">
        {{ range . }}
        <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
    </ul>
    {{ end }}

</article>
{{ end }}