{{ define "hero" }}
<div id="hero">
    <div class="hero-container">
    </div>
</div>
{{ end }}

{{ define "main" }}
<main id="category">
    <section class="post">
        <div class="container">
            <div class="row">
                <div class="col-md-12 offset-lg-2">
                    <table class="table table-sm table-hover cf">
                        <tbody>
                            {{ range .Pages.ByPublishDate.Reverse }}
                            <tr>
                                <th class="meta" scope="row">{{partial "post_meta.html" . }}</th>
                                <td class="title"><a href="{{.Permalink}}">{{.Title}}</a></td>
                                <!-- <td class="read"><a href="{{.Permalink}}" class="btn btn-outline-mosesokemwa btn-sm">Read more</a></td> -->
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
{{ end }}