{{ define "hero" }}
<div id="hero">
    <div class="hero-container">

    </div>
</div>
{{ end }}

{{ define "main" }}
<main id="category">
    <section class="post">
        <div class="container">
            {{ range .Pages.ByPublishDate.Reverse }}
            <div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="text-center">{{partial "post_meta.html" .}}</th>
                            <td class="text-nowrap" scope="row"><a href="{{.Permalink}}">{{.Title}}</a></td>
                            <td><a href="{{.Permalink}}" class="btn btn-outline-moringa btn-sm">Read more</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{ end }}
        </div>
    </section>
</main>
{{ end }}