{{ block "footer" . }}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p>Made with &hearts; in Nairobi &middot; {{ now.Year }}</p>
                    <p><a href="/" target="_blank">Home</a></p>
                    <p><a href="mailto:okemwamoses@gmail.com" target="_blank">Email</a></p>
                    <p><a href="https://github.com/mosesokemwa" target="_blank">Github</a></p>
                    <p><a href="https://linkedin.com/in/mosesokemwa/" target="_blank">LinkedIn</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
{{ end }}