<!-- if author is set on the post's params, use that, if not, check if we have an
     author configured in the Site params -->
{{$author := or .Params.author .Site.Params.author}}

<!-- check to see if we have author details, note that we *must* perform this check
     explicitly, as the user might not have $author set and we'd get an error
     trying to use nil as the index value -->
{{$authorDetailSet := and (.Site.Author) ($author)}}
    <time class="meta-date" datetime="{{.Date.Format "2006-01-02" | safeHTML}}">
    {{.Date.Format "2006-01-02"}}
    </time>